* {
	box-sizing:border-box;
}
img {
	height:20pt;
	width:auto;
	margin-bottom:-5px;
}
a {
	text-decoration: none;
	color:#20ace8;
}
p {
	margin-top: 0;
	font-size: 16pt;
}
h1 {
	margin:0;
	font-weight: 300;
	font-size: 16pt;
	color:#fff;	
}
h2 {
	margin-top:0;
	font-weight: bold;
	font-size: 16pt;
	color: #343330;
}
h3 {
	margin-top:0;
	font-weight: 300;
	font-size: 16pt;
	color: #343330;
}
body {
	background-color: #343330;
	overflow: hidden;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	font-size: 16pt;
	font-weight: 300;
}
#notification {
	width:100%;
	height:100%;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color: white;
}
#button-container { 
	height:auto;
	width: 200pt;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.button {
	display: inline-block;
	vertical-align: top;
	width:200pt;
	height:44pt;
	text-align: center;
	margin-bottom:15pt;
	background: #4fc357;
	border-radius: 4pt;
	cursor: pointer;
	line-height: 44pt;
}
.blue {
	background-color: #20ace8;
}
.white {
	background: white;
	margin-top:-30px;
/*	margin-bottom:-30px;
*/}
.button a {
	color: #fff;
	cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
	background-color: white;    
    padding:30px;
    animation: fade .2s linear;
    -webkit-animation: fade .2s linear;
}
@keyframes fade {
	from {opacity:0;}
	to {opacity:100;}
}
-webkit-@keyframes fade {
	from {opacity:0;}
	to {opacity:100;}
}
.content {
	color:#343330;
	width:200pt;
	height:auto;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-decoration: none;
}
.close-like, .close-dislike {
    color: #aaa;
    font-size: 16pt;
    z-index: 2;
    cursor: pointer;
}
/*-------------------------------------------------------iPhone 6 */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	#notification {
		width:100%;
		height:100%;
	}
}
/*-------------------------------------------------------iPhone 6+ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  	#notification {
		width:100%;
		height:100%;
	}
}
/*-------------------------------------------------------iPhone 5/5s */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	#notification {
		width:100%;
		height:100%;
	}
}
/*-------------------------------------------------------iPhone 5/5s */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	#notification {
		width:100%;
		height:100%;
	}
}