* {
	box-sizing:border-box;
}
body {
	background-color: black;
}
#notification {
	width:350px;
	height:350px;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color: white;
	border-radius:50px;
}
#button-container { 
	height:auto;
	width: 300px;
	position: absolute;
	top: 50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.button {
	width:300px;
	height:auto;
	padding:5px;
	background-color: white;
	color:black;
	text-align: center;
	margin-bottom:10px;
	font-size: 1em;
	line-height: 1.25em;
}
.button a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
	background-color: white;    
	color:red;  
    border-radius: 50px;
    padding:30px;
}
.close-like, .close-dislike {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 2;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	#notification {
		width:100%;
		height:100%;
	}
}